{% extends "web_view/event_site_base.html" %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" type="text/css" href="{% static 'web_view/css/guideline.css' %}">
{% endblock %}

{% block main-block %}
<div id="guideline-page" class="container-sm content-page">
  <div class="card">
    <div class="card-header content-header-top fs-3">
      GUIDELINE
    </div>
    <div class="card-body">
      <h4 class="card-title">注意事項</h4>
      <div class="card-text">
        <ul>
          <li></li>
        </ul>
      </div>
      <h4 class="card-title">感染症対策</h4>
      <div id="covid-guideline" class="row">
        <div class="col">
          <div class="card text-center">
            <div class="card-header fw-bold">声出し</div>
            <img class="card-img-top" src="{% static 'web_view/image/kansensho_6.png' %}" alt="声だし">
            <div class="card-body">
              <p class="card-text">OK</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header fw-bold">個人情報記入</div>
            <img class="card-img-top" src="{% static 'web_view/image/kansensho_2.png' %}" alt="個人情報記入">
            <div class="card-body">
              <p class="card-text">必須</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header fw-bold">マスクの着用</div>
            <img class="card-img-top" src="{% static 'web_view/image/kansensho_5.png' %}" alt="マスクの着用">
            <div class="card-body">
              <p class="card-text">必須</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header fw-bold">検温</div>
            <img class="card-img-top" src="{% static 'web_view/image/kansensho_1.png' %}" alt="検温">
            <div class="card-body">
              <p class="card-text">必須</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header fw-bold">手指の消毒</div>
            <img class="card-img-top" src="{% static 'web_view/image/kansensho_3.png' %}" alt="手指消毒">
            <div class="card-body">
              <p class="card-text">必須</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}