/* ==========================================
カラークラス定義のスタイルシート 
============================================= */

.header-background {
  background-color: #ffffffb9;
}
.bg-background {
  background-color: #000000;
  color: #ffffff;
}
.bg-card {
  background-color: #b9b9b9;
}