/* ==========================================
このファイルは全ての画面に適用するスタイルシート 
============================================= */

html, body {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
/* --- ヘッダー --- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* --- トップロゴ --- */
.top-logo {
  width: auto;
  padding: 0 10px;
}
.top-logo>svg {
  width: auto;
  height: 100%;
}
/* --- メイン --- */
main {
  z-index: 1;
  min-height: 100vh;
  min-height: 100dvh;
}
/* --- 上部に戻る --- */
#top-up-area {
  width: 100%;
  height: 150px;
  text-align: center;
  position: relative;
}
.top-up-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* --- フッター --- */
footer {
  background-color: #4e4b46;
}
/* --- 項目名 --- */
.title-font {
  position: relative;
  color: #fff200;
  font-weight: bold;
  margin-top: 10px;
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
}
.title-ja {
  color: #ffffff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 5px;
}
.title-font, .title-ja {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row>* {
  padding-top: 20px;
}
.scroll-top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #4e4b46;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;
}
.scroll-top > .triangle {
  width: 0;
  height: 20px;
  border-right: solid 18px transparent;
  border-bottom: solid 18px #ffffff;
  border-left: solid 18px transparent;
}
/* --- 各ページに適用する --- */
.content-page {
  padding-top: 100px;
}
.content-header-top {
  font-weight: bold;
  text-align: center;
}
/* --- カード内 --- */
.card > * {
  color: #000000;
}
.card-title {
  border-bottom: solid 1px #000000;
  padding-left: 5px;
}
@media (min-width: 1400px) {
  .content-page {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  /* --- ヘッダー --- */
  header {
    width: 100%;
  }
  .hamburger-menu {
    display: none;
  }
  .top-logo {
    height: 80px;
  }
}
@media (max-width: 992px) {
  .hamburger-menu {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .top-logo {
    height: 50px;
  }
  .top-logo.active {
    display: none;
  }
}