/* ==========================================
このファイルは全ての画面に適用するスタイルシート 
============================================= */

html, body {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
/* --- ヘッダー --- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* --- トップロゴ --- */
.top-logo {
  width: auto;
  padding: 0 10px;
}
/* --- メイン --- */
main {
  z-index: 1;
  min-height: calc(100vh - 50px);
  min-height: calc(100dvh - 50px);
}
/* --- 上部に戻る --- */
#top-up-area {
  width: 100%;
  height: 150px;
  text-align: center;
  position: relative;
}
.top-up-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* --- フッター --- */
footer {
  background-color: #4e4b46;
}
/* --- 項目名 --- */
.title-font {
  position: relative;
  color: #fff200;
  font-weight: bold;
  margin-top: 10px;
  font-size: 4vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title-ja {
  color: #ffffff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 1.5vw;
}
.title-font, .title-ja {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row>* {
  padding-top: 20px;
}
@media (min-width: 992px) {
  /* --- ヘッダー --- */
  header {
    width: 100%;
  }
  .hamburger-menu {
    display: none;
  }
  .top-logo {
    height: 80px;
  }
  /* --- メイン --- */
  main {
    padding-top: 70px;
  }
  /* --- 項目名 --- */
  .title-font {
    text-shadow: 3px 3px 0 #bcbcbc;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }
  .navbar-nav.active {
    display: block;
  }
  .hamburger-menu {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .top-logo {
    height: 50px;
  }
  /* --- 項目名 --- */
  .title-font {
    text-shadow: 1px 1px 0 #bcbcbc;
  }
}