{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>{% block page-title %}{% endblock %}</title>
  
  <!-- ライブラリjs -->
  <script src="{% static 'new_event_site/libs/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'new_event_site/libs/js/bootstrap.min.js' %}"></script>
  {% block lib-js %}{% endblock %}
  <!-- カスタムjs -->
  {% block custom-js %}{% endblock %}
  <!-- ライブラリcss -->
  <link rel="stylesheet" type="text/css" href="{% static 'new_event_site/libs/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_event_site/css/common.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_event_site/css/color.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_event_site/css/animation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_event_site/css/hamburger.css' %}">
  {% block lib-css %}{% endblock %}
  <!-- カスタムcss -->
  {% block custom-css %}{% endblock %}

</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
