{% extends "web_view/event_site_base.html" %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" type="text/css" href="{% static 'web_view/css/index.css' %}">
{% endblock %}

{% block main-block %}
<div class="top-area">
    
</div>
<a class="place-link" href="https://unravel-tokyo.com/">
  <div class="link-img"></div>
</a>
<div class="news-area">
  <div class="title-font">NEWS
    <div class="title-ja">お知らせ</div>
  </div>

</div>
<div class="topics-area">
  <div class="title-font">TOPICS
    <div class="title-ja">トピック</div>
  </div>
  <div class="container">
    <div class="row">
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>About/開催概要</div>
          <svg></svg>
        </div>
      </a>
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>Artist/出演アーティスト</div>
          <svg></svg>
        </div>
      </a>
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>TimeTable/タイムテーブル</div>
          <svg></svg>
        </div>
      </a>
    </div>
    <div class="row">
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>Tickt/チケット</div>
          {% include 'web_view/icon/ticket_icon.html' %}
        </div>
      </a>
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>Access/アクセス</div>
          <svg></svg>
        </div>
      </a>
      <a class="col" href="#">
        <div class="topic-content-area neon-content">
          <div>Guideline/注意事項・感染症対策</div>
          <svg></svg>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="twitter-area">
  <div class="title-font">TWITTER
    <div class="title-ja">ツイッター</div>
  </div>

</div>
<button class="scroll-top" type="button">TOP</button>
{% endblock %}
  