<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="description" content="イベント公式サイトです。">
  <title>IDOL Dreaming Station</title>

  <link rel="icon" href="./favicon.ico">

  <script src="./lib/js/jquery-3.6.0.min.js"></script>
  <script src="./lib/js/bootstrap.min.js"></script>
  <script src="./lib/js/avantui.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/nav.js"></script>
  <script src="./js/index.js"></script>

  <link rel="stylesheet" type="text/css" href="./lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./lib/css/avantui.min.css">

  <link rel="stylesheet" type="text/css" href="./css/color.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <link rel="stylesheet" type="text/css" href="./css/nav.css">
  <link rel="stylesheet" type="text/css" href="./css/hamburger.css">
  <link rel="stylesheet" type="text/css" href="./css/animation.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">

</head>
<body class="bg-background">
  <header class="bg-background">
    <a class="top-font" href="#">
      <img alt="tiget" src="./image/top-tickte-icon.png"/>
    </a>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand top-font" href="./">
        <img alt="Eventロゴ" src="./image/top-center-logo.png"/>
      </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./about/">About
            <div>開催概要</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./event/">Artist
            <div>出演アーティスト</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./timetable/">Time Table
            <div>タイムテーブル</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ticket/">Ticket
            <div>チケット</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ticket/">Access
            <div>アクセス</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./guideline/">Guideline
            <div>ガイドライン</div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="hamburger-menu" id="menu01">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>
  
  <main>
    <div class="top-area">
      
    </div>
    <a class="place-link" href="https://unravel-tokyo.com/"></a>
    <div class="news-area">
      <div class="title-font text-center">NEWS</div>

    </div>
    <div class="topics-area">
      <div class="title-font text-center">TOPICS</div>
      <div class="container">
        <div class="row">
          <a class="col" href="#">
            <div>About/開催概要</div>
            <svg></svg>
          </a>
          <a class="col" href="#">
            <div>Artist/出演アーティスト</div>
            <svg></svg>
          </a>
          <a class="col" href="#">
            <div>TimeTable/タイムテーブル</div>
            <svg></svg>
          </a>
        </div>
        <div class="row">
          <a class="col" href="#">
            <div>Tickt/チケット</div>
            <svg></svg>
          </a>
          <a class="col" href="#">
            <div>Access/アクセス</div>
            <svg></svg>
          </a>
          <a class="col" href="#">
            <div>Guideline/注意事項・感染症対策</div>
            <svg></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="twitter-area">
      <div class="title-font text-center">TWITTER</div>

    </div>
    <button class="scroll-top" type="button">TOP</button>
  </main>

  <footer>
    <div class="text-center text-white">主催 : IDOL Dreaming Station 実行委員 / 制作 : LIVE FIRST</div>
  </footer>
</body>
</html>
