{% extends "web_view/event_site_base.html" %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" type="text/css" href="{% static 'web_view/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web_view/css/ticket.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web_view/css/guideline.css' %}">
{% endblock %}

{% block main-block %}
<div id="top-view" class="view-area show">
  <div class="top-area">
    <div class="event-title-area">
      <div class="neon-text-pattern-01 neon-02">IDOL</div>
      <div class="neon-text-pattern-01 neon-14">Dreaming</div>
      <div class="neon-text-pattern-01 neon-08">Station</div>
      <div class="neon-text-pattern-01 neon-07 text-end">Vol.3</div>
    </div>
    <div class="overview-top p-3 text-center">
      <div class="fw-bold fs-3">2022年10月5日（水）</div>
      <div class="fs-4">unravel TOKYO</div>
    </div>
  </div>
  <a class="place-link" href="https://unravel-tokyo.com/" target="_blank">
    <div class="link-img mt-3">
      <img alt="会場サイト" src="{% static 'web_view/image/unravel_img.jpeg' %}"></img>
    </div>
  </a>
  <div class="news-area mt-3">
    <div class="title-font">NEWS
      <div class="title-ja">お知らせ</div>
    </div>
    <din class="container p-2">
      <div class="news-content-area text-center">
        <div class="row">
          <div class="col-sm-2">2022/09/10</div>
          <div class="col-sm-10">イベントサイトを公開しました。</div>
        </div>
        <div class="row">
          <div class="col-sm-2">2022/09/10</div>
          <div class="col-sm-10">イベントサイトを公開しました。</div>
        </div>
        <div class="row">
          <div class="col-sm-2">2022/09/10</div>
          <div class="col-sm-10">イベントサイトを公開しました。</div>
        </div>
  
        <a class="text-center m-2" href="#news">VIEW MORE</a>
      </div>
    </din>
  </div>
  <div class="topics-area mt-3">
    <div class="title-font">TOPICS
      <div class="title-ja">トピック</div>
    </div>
    <div class="container">
      <div class="row">
        <a class="col change-view" href="#about-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/about_icon.html' %}
            </div>
            <div class="topic-content-english-text">About</div>
            <div>開催概要</div>
          </div>
        </a>
        <a class="col change-view" href="#artist-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/artist_icon.html' %}
            </div>
            <div class="topic-content-english-text">Artist</div>
            <div>出演アーティスト</div>
          </div>
        </a>
        <a class="col change-view" href="#timetable-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/timetable_icon.html' %}
            </div>
            <div class="topic-content-english-text">Time table</div>
            <div>タイムテーブル</div>
          </div>
        </a>
        <a class="col change-view" href="#ticket-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/ticket2_icon.html' %}
            </div>
            <div class="topic-content-english-text">Ticket</div>
            <div>チケット</div>
          </div>
        </a>
        <a class="col change-view" href="#access-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/access_icon.html' %}
            </div>
            <div class="topic-content-english-text">Access</div>
            <div>アクセス</div>
          </div>
        </a>
        <a class="col change-view" href="#guideline-view">
          <div class="topic-content-area neon-content">
            <div class="topic-logo-area">
              {% include 'web_view/icon/guideline_icon.html' %}
            </div>
            <div class="topic-content-english-text">Guideline</div>
            <div>注意事項・感染症対策</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="twitter-area mt-3">
    <div class="title-font">TWITTER
      <div class="title-ja">公式ツイッター</div>
      <div class="container"></div>
    </div>
  </div>
</div>

<div id="about-view" class="container-sm content-page view-area">
  {% include 'web_view/about/index.html' %}
</div>

<div id="artist-view" class="container-sm content-page view-area">
  {% include 'web_view/artist/index.html' %}
</div>

<div id="timetable-view" class="container-sm content-page view-area">
  {% include 'web_view/timetable/index.html' %}
</div>

<div id="ticket-view" class="container-sm content-page view-area">
  {% include 'web_view/ticket/index.html' %}
</div>

<div id="access-view" class="container-sm content-page view-area">
  {% include 'web_view/access/index.html' %}
</div>

<div id="guideline-view" class="container-sm content-page view-area">
  {% include 'web_view/guideline/index.html' %}
</div>
{% endblock %}
  