/* ==========================================
このファイルはメイン画面に適用するスタイルシート 
============================================= */

.header-background {
  background-color: #ffbaf3b9;
}
.bg-custom-background {
  background-color: #ffbaf3;
  color: #000000;
}
/* --- 項目名 --- */
.title-font {
  color: #e210e2;
}
.title-font, .title-ja {
  text-align: center;
}
/* --- トップエリア --- */
.top-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.event-title-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.event-title-area>* {
  font-size: 10vh;
  font-weight: bold;
  line-height: 1.2;
}
.event-title-04 {
  text-align: right;
}
.overview-top {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #000000;
}
/* --- 会場広告 --- */
.link-img {
  max-width: 80%;
  height: 100px;
  margin: 0 10%;
  text-align: center;
}
.link-img>img {
  width: auto;
  height: 100px;
}
/* --- お知らせ --- */
.news-area {
  padding: 10px;
  background-color: #ffffff;
}
.news-content-area {
  border: solid 1px #000000;
  border-radius: 5px;
  background-color: transparent;
}
/* --- トピックコンテンツ --- */
.topic-content-area {
  min-width: 300px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  padding: 20px 10px;
}
.topic-content-area:hover {
  transition : all 0.5s ease 0s;
  background-color: #eaff72;
  color: #ff9e2f;
}
.neon-content {
  box-shadow: -3px 3px 16px 2px #767676;
}
.topic-logo-area>svg {
  width: 40%;
  height: auto;
}
.topic-content-english-text {
  font-weight: bold;
  font-size: 30px;
}
/* --- ツイッター --- */
.twitter-area {
  padding: 10px;
}